[submodule "routerd"]
	path = routerd
	url = https://github.com/autumncoffee/routerd.git
[submodule "back/ac/ac-common"]
	path = back/ac/ac-common
	url = https://github.com/autumncoffee/cxx-common.git
[submodule "back/ac/ac-library"]
	path = back/ac/ac-library
	url = https://github.com/autumncoffee/cxx-library.git
